<<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
   <p>Click the link below to reset your password. users/password/edit?reset_password_token=s2_nGKvzbp1SnjT4RyL5 </p>


<p> If you did not request to change your password, ignore this email and your password will stay the same </p>








  </body>
</html>