<h1> Admin </h1>


<div class="container" ><br>
  <table  class="table " >   
    <thead class="thead-light">
    
      <tr> 
        <th>id</th>   
        <th>dish name</th> 
        <th>Dish image</th>
        <th>Price</th>
        <th>Avg Rating</th>
        <th>Count </th>
        <th>Add Rating</th>
        <th>Actions</th> 
      </tr>   
    </thead>   
    <tbody>  
      <% @user_requirements.each do|d|%>
        <tr>
          <td><%= d.id %></td>
          <td><%= d.name %></td>
         
      
        </tr>
      <% end %>   
    </tbody>   
  </table>
   
</div>  



